<div class="w3-top">
<div id="navbar" class="w3-bar w3-green w3-border w3-xlarge">
  <a href="/articles" class="w3-bar-item w3-button w3-white"><i class="fa fa-home"></i></a>
  <a href="/articles/new" class="w3-bar-item w3-button"><i class="fa fa-plus-square-o"></i></a>
  <a onclick="edit()" class="w3-bar-item w3-button"><i class="fa fa-pencil-square-o"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-trash-o"></i></a>
  <a href="/" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i></a>
  <h4 class="w3-middle"><strong>BLOG</strong></h4>
</div>
</div>
<br><br>
<script>
function edit() {
    var person = prompt("Please enter task ID", "1");
    if (person != null) {
window.location.href = "/articles/" + person + "/edit"
    } else {
      window.location.href = "/articles/1/edit"
    }
}
</script>